*{
    margin: 0px;
    padding: 0px;
}
.general-calculate{
    background-color: rgba(183, 253, 174,.5);
    height: 70vh;
    width: 50%;
    position: relative;
    margin-top: 100px;
    margin-left: 300px;
}
.screen{
    background-color: rgba(183, 253, 174,.5);
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 800;
}
.screen-content{
    width: 95%;
    text-align: right;
}
.All-rows{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.row{
    width: 25%;
    height: 60vh;
    
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 28px;
    cursor: pointer;
    font-weight: 700;
}
.item:hover{
    background-color: rgb(103, 247, 146);

}
#id1{
    color: rgb(122, 212, 122);
}
